<!DOCTYPE html>
<html ng-app='AngularMap'>
<head lang="en">
<meta charset="UTF-8">
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js'></script>
	<script src='controllers/mapcontroller.js'></script>
	<script src='data/database.js'></script>
	<script src='http://maps.google.cn/maps/api/js?sensor=false'></script>
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
	<script src='directives/googleMap.js'></script>
	<script src='directives/Table.js'></script>
	<script src='directives/Dropdown.js'></script>

</head>

<body ng-controller="MapController">

	<google-map center='map.center' zoom='map.zoom' markers='markers'></google-map>
	<select name="selectType" ng-model="selectType" >
		<option value="">All</option>
		<option ng-repeat="value in typeFilter" value="{{value}}">{{value}}</option>
	</select>


	<select name="selectTitle" ng-model="selectTitle" >
		<option value="">All</option>
		<option ng-repeat="value in titleFilter" value="{{value}}">{{value}}</option>
	</select>


	<select name="selectSize" ng-model="selectSize" >
		<option value="">All</option>
		<option ng-repeat="value in sizeFilter" value="{{value}}">{{value}}</option>
	</select>

	<table>
		<tr ng-repeat="marker in markers| filter:{title:selectTitle,size:selectSize,type:selectType}" >
			<td>{{ marker.title }}</td>
			<td>{{ marker.size }}</td>
			<td>{{ marker.type }}</td>
			<td>{{ marker.latitude }}</td>
			<td>{{ marker.longitude }}</td>
		</tr>
	</table>

	<!--<drop-directive></drop-directive>
	<table-directive></table-directive> -->
</body>
</html>